* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.docx binary
*.pdf binary
*.pptx binary
*.xlsx binary
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.zip binary
/releases/v1.1.3/** -text
